/* 設置 body 和 html 佔滿整個視窗 */
html,
body {
    background-color: white;
    height: 99%;
    margin: 5;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

a {
    color: white; /* 設置文字顏色 */
}

/* 設置所有元素的邊距和內邊距為零，確保沒有多餘的空白 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 設置上半部的 div */
.top-half {
    background-color: lightgreen;
    flex: 1; /* 佔據一部分高度 */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    /* margin: 10px; */
}

/* 設置中間的 div */
.middle {
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px; /* 調整 padding 來設置中間部分的高度 */
    /* margin: 0 10px; */
}

/* 設置按鈕的樣式，並添加間隔 */
.middle button {
    margin: 0 10px; /* 左右各添加 10px 的間隔 */
    padding: 10px 20px; /* 設置按鈕內邊距 */
    font-size: 16px; /* 改變字體大小 */
    color: black; /* 改變字體顏色 */
    background-color: lightcyan; /* 設置按鈕背景顏色 */
    border: none; /* 去除按鈕邊框 */
    border-radius: 5px; /* 設置按鈕圓角 */
}

/* 設置下半部的 div */
.bottom-half {
    background-color: lightcoral;
    flex: 1;
    /* 佔據另一部分高度 */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    /* margin: 10px; */
}

textarea {
    width: 100%;
    height: 99%;
    padding: 10px;
    font-size: 16px;
    text-align: left; /* 文字置中 */
}

/* 設置 placeholder 的樣式 */
textarea::placeholder {
    color: black; /* 設置 placeholder 顏色 */
    font-size: 20px; /* 設置 placeholder 字體大小 */
    text-align: center; /* 設置 placeholder 文字置中 */
}

.d-flex {   
    justify-content: space-between;
    align-items: center;
    border: top;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

img {
    border-radius: 50%; /* 將圓角半徑設置為元素寬度和高度的一半 */
}